doctype 5
html(ng-app="proman")
  head
    title= title
    script(src="/js/vendor/jquery.min.js")
    script(src="/js/vendor/angular.min.js")
    script(src="/app.js")
    link(rel='stylesheet', href='/stylesheets/style.css')
  body
    block content